@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Light.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf')  format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-LightIt.otf')  format('opentype'),
	     url('../fonts/ProximaNova-LightIt.woff') format('woff'), url('../fonts/ProximaNova-LightIt.ttf')  format('truetype'), url('../fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-RegularIt.otf')  format('opentype'),
	     url('../fonts/ProximaNova-RegularIt.woff') format('woff'), url('../fonts/ProximaNova-RegularIt.ttf')  format('truetype'), url('../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-BoldIt.otf')  format('opentype'),
	     url('../fonts/ProximaNova-BoldIt.woff') format('woff'), url('../fonts/ProximaNova-BoldIt.ttf')  format('truetype'), url('../fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Black.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black.ttf')  format('truetype'), url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Black.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Black.woff') format('woff'), url('../fonts/ProximaNovaCond-Black.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Black.svg#ProximaNovaCond-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn';
  src: url('../fonts/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaExCn-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNovaExCn-Regular.woff') format('woff'), url('../fonts/ProximaNovaExCn-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaExCn-Regular.svg#ProximaNovaExCn-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn';
  src: url('../fonts/ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaExCn-Semibold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaExCn-Semibold.woff') format('woff'), url('../fonts/ProximaNovaExCn-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNovaExCn-Semibold.svg#ProximaNovaExCn-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn';
  src: url('../fonts/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaExCn-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaExCn-Bold.woff') format('woff'), url('../fonts/ProximaNovaExCn-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaExCn-Bold.svg#ProximaNovaExCn-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

body{
	margin:0;
	padding: 0;
	font-family: 'ProximaNova', sans-serif;
	font-size: 15px;
	line-height:1.4;
    letter-spacing: 0.05em;
	color: rgb(0, 38, 73);
	min-width: 360px;
}

button,input,select,textarea{
    font-family: 'ProximaNova'; 
    font-size: 17px;
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

header {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

.between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .first_line {
    background-color: #002649;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

header .first_line .institut_name {
    padding: 8px 0;
    letter-spacing: 0.4px;
}

header .first_line .phone {
    box-sizing: border-box;
    width: 210px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    position: relative;
    text-align: right;
    padding: 4px 0 8px 30px;
    letter-spacing: 0.8px;
}

header .phone::before {
    content: "";
    background-image: url(../images/sprites.svg);
    background-position: -166px -18px;
    width: 27px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
}
 
header .second_line {
    box-sizing: border-box;
    border-top: 3px solid rgb(255, 192, 0);
    position: relative;
}

header .second_line .wrapper {
    display: flex;
    flex-wrap: wrap;
}

header .second_line .logo {
    background-image: url(../images/sprites.svg);
    background-position: -8px -2px;
    width: 127px;
    height: 66px;
}

/*navbar*/

header .second_line .menu {
    display: block;
    padding: 0;
    margin: 0 0 0 36px;
}

header .second_line .menu:after{
	content:"";
	display:block;
	clear:both;
}

header .second_line .menu li {
    list-style: none;
    float: left;
    position: relative;
}

header .second_line .menu .for_mobile {
    display: none;
}

header .second_line .menu a {
    display: inline-block;
    font-size: 14px;
    color: rgb(0, 38, 73);
    font-family: "ProximaNovaCond";
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 8px 22px;
}

header .second_line .submenu {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 52px;
    left: 0;
    display: none;
}

header .second_line .menu li:hover .submenu {
    display: block;
}

header .second_line .submenu li {
    position: relative;
    transition: all .2s linear 0s;
}

header .second_line .submenu li a {
    position: relative;
    background-color: #ffffff;
    width: 90px;
    font-size: 14px;
    color: rgb(0, 38, 73);
    font-family: "ProximaNovaCond";
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

/*burger*/

.burger_wrapper {
    display: none;
    background-color: #ffffff;
    height: 44px;
}
.burger {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 9px;
    cursor: pointer;
}

.burger span, .burger span::before, .burger span::after {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    height: 4px;
    width: 36px;
    background: rgb(0, 38, 73);
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 200ms ease-in-out;
}

.burger span::before {
    content: '';
    left: 0;
}

.burger span::after {
    content: '';
    left: 0;
    top: 20px;
}

.burger.active span {
    background-color: transparent;
}
    
 .burger.active span::before  {
    transform: rotate(45deg);
    top: 8px;
}

 .burger.active span::after  {
    transform: rotate(-45deg);
    top: 8px;
}       

.button {
    display:inline-block;
    box-sizing: border-box;
    font-family: "ProximaNovaCond";
    font-size: 17px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    padding: 15px 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: rgb(0, 38, 73);
    text-align: center;
}

.call.button {
    font-weight: 700;
    width: 210px;
    border: solid 2px rgb(0, 38, 73);
    border-radius: 0;
    padding: 8px;
    margin: auto 0 auto auto;
}

/*main_screen*/

.main_screen {
    position: relative;
}

.main_screen .background {   
    background-color: rgb(37, 139, 232);
    position: absolute;
    top:0; 
    bottom:0; 
    width: 100%;
}

.main_screen .wrapper {
    position: relative;
}

.main_screen .login.button {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.6);
    width: 210px;
    font-family: 'ProximaNova';
    font-size: 10px;
    line-height: 1.7;
    padding: 12px 5px;
    float: right;
    margin-top: 5px;
}

.main_screen .login.button span {
    font-family: "ProximaNovaCond";
    font-size: 14px;
    font-weight: 700;
}

.main_screen .main_info {
    padding: 111px 0 127px;
}

.main_screen h1 {
    font-size: 40px;
    font-family: "ProximaNovaExCn";
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.main_screen h2 {
    font-size: 24px;
    font-family: "ProximaNovaExCn";
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 15px 0;
}

.main_screen .buttons {
    text-align: center;
    margin: 50px auto 0;
}

.green.button {
    background-color: #eaff00;
    box-shadow: 0 4px #c4d600;
    width: 330px;
}

.main_screen .buttons .green.button {
    margin-right: 20px;
}

.orange.button {
    background-color: #ffc000;
    box-shadow: 0 4px #e0a900;
    width: 330px;
}

/*courses*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.courses .courses_wrapper {
    justify-content: space-between;
}

.courses .sidebar {
    width: 360px;
    box-sizing: border-box;
    box-shadow: 4px 0px 4px -4px rgba(0, 0, 0, 0.2);
    padding: 25px 15px 75px 0; 
}

.courses .courses_menu {
    display: block;
    margin: 0 0 35px 0;
    padding: 0;
}

.courses .courses_menu li {
    list-style: none;
    margin: 29px 0;
    position: relative;
}

.courses .courses_menu a {
    display: block;
    font-size: 17px;
    color: rgb(0, 38, 73);
    font-family: "ProximaNovaCond";
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 10px 17px 60px;
    letter-spacing: 0.4px;
}

.courses .courses_menu a::before {
    content: "";
    background-image: url(../images/sprites.svg);
    background-position: -242px -14px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 10px;
}

.courses .courses_menu .psychology a::before {
    background-position: -300px -14px;
}

.courses .courses_menu .pedagogy a::before {
    background-position: -358px -14px;
}

.courses .courses_menu .before_school a::before {
    background-position: -417px -14px;
}

.courses .courses_menu .additional a::before {
    background-position: -475px -14px;
}

.courses .courses_menu .organisation a::before {
    background-position: -533px -14px;
}

.courses .details {
    width: 760px;
    padding: 57px 0;
}

.courses .details h2 {
    font-size: 24px;
    font-family: "ProximaNovaCond";
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 7px 0;
}

/*radio_button*/

.courses .details .radio_buttons {
    background-color: #efefef;
    padding: 15px 10px;
    margin: 20px 0;
    text-align: center;
}

.courses .details .radio_button {
    padding: 10px 13px 10px 51px;
}

.courses .details .radio_button input[type="radio"] {
    display: none;
}

.courses .details .radio_button .radio_ripple {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0, 38, 73);;
    position: relative;
    margin: 0 5px 0 -30px;
    border-radius: 50%;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: border-color 0.2s ease-in 0s;
    transition: border-color 0.2s ease-in 0s;
}

.courses .details .radio_button .radio_ripple:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    margin: auto;
    width: 20px;
    height: 20px;
    background: rgb(0, 38, 73);
    border-radius: 50%;
    z-index: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}

.courses .details .radio_button .radio_ripple:after {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    margin: auto;
    width: 0;
    height: 0;
    background: rgba(0, 38, 73, 0.26);
    border-radius: 50%;
    z-index: 0;
}

.courses .details  .radio_button.active .radio_ripple{
	border-color: rgb(0, 38, 73);
}

.courses .details  .radio_button.active .radio_ripple:before{
	-webkit-transform: scale(.5);
	transform: scale(.5);
}

.courses .details  .radio_button.active .radio_ripple:after{
	-webkit-animation: ripple 0.3s ease-out;
	animation: ripple 0.3s ease-out;
}

@-webkit-keyframes ripple {
	from {width:0;height:0;opacity:1;}
	to {width:47px;height:47px;opacity:0;}
}
@keyframes ripple {
	from {width:0;height:0;opacity:1;}
	to {width:47px;height:47px;opacity:0;}
}

.courses .details .radio_button .radio_label {
    font-size: 16px;
    font-family: "ProximaNovaCond";
    font-weight: 400;
    text-transform: uppercase;
}

.courses .details .line {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 20px 0;
    letter-spacing: 0.45px;
    font-size: 16px;
    font-weight: 400;
}

.courses .details .line .name {
    width: 465px;
    flex: 1;
    box-sizing: border-box;
    padding-right: 10px;
}

.courses .details .line .hours {
    width: 85px;
    box-sizing: border-box;
    padding-right: 10px;
}

.courses .details .line .price {
    width: 115px;
    box-sizing: border-box;
    padding-right: 10px;
    position: relative;
}

.courses .details .line .price .new_price {
    
}
.courses .details .line .discount {
    position: absolute;
    top: -17px;
    right: 13px;
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px 4px;
    background-color: rgb(234, 255, 0);
}

.courses .details .line .old_price {
    position: absolute;
    bottom: -18px;
    right: 35px;
    width: 70px;;
    font-size: 12px;
    font-weight: 400;
    color: rgb(138, 138, 138);
    text-decoration: line-through;
}

.courses .details .line a {
    display: block;
    width: 100px;
    text-align: right;
    color: rgb(32, 129, 218);
}

.courses .mobile.button {
    display: none;
    margin: 0 auto 66px;
}

/*steps_screen*/

.steps_screen {
    background-color: #57aeff;
    overflow:hidden;
}

.steps_screen h3 {
    display: none;
}

.steps_screen .left_part h3 {
    display: block;
}

h3 {
    font-size: 34px;
    font-family: "ProximaNovaExCn";
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

h3 span {
    box-sizing: border-box;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 15px;
    position: relative;
}

h3 span::before {
    content: "";
    background-color: rgb(234, 255, 0);
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 3px;
    left: 0;
}

.steps_screen .steps_wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.steps_screen .left_part {
    box-sizing: border-box;
    padding: 56px 0 30px;
    max-width: 800px;
}

.steps_screen .steps {
    margin: 30px -20px 0;
    width: 100%;
}

.steps_screen .steps .step {
    box-sizing: border-box;
    width: 33.333%;
    padding: 0 20px 37px;
    text-align: center;
}

.steps_screen .steps .icon {
    background-image: url(../images/sprites.svg);
    background-position: -9px -106px;
    width: 102px;
    height: 102px;
    margin: 0 auto;
}

.steps_screen .steps .two .icon {
    background-position: -132px -106px;
}

.steps_screen .steps .three .icon {
    background-position: -275px -106px;
}

.steps_screen .steps .four .icon {
    background-position: -408px -106px;
}

.steps_screen .steps .five .icon {
    background-position: -540px -106px;
}

.steps_screen .steps .what_to_do {
    display: inline-block;
    background-color: #eaff00;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 24px;
    font-family: "ProximaNovaExCn";
    font-weight: 400;
    text-transform: uppercase;
    margin: 15px 0;
    padding: 0 15px;
    line-height: 1.2;
}

.steps_screen .steps .what_to_do span {
    font-size: 30px;
    font-weight: 600;
}

.steps_screen .steps .what_to_do span {
    font-size: 30px;
    font-weight: 600;
}

.steps_screen .steps .how_to_do {
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.steps_screen .steps .arrow {
    background-image: url(../images/sprites.svg);
    background-position: -977px -270px;
    height: 200px;
    max-width: 300px;
}

.steps_screen .right_part {
    position: relative;
    padding: 70px 0;
    max-width: 360px;
}

.steps_screen .form {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 62px 35px 52px;
    position: relative;
}

.steps_screen .form .caption {
    font-size: 30px;
    font-family: "ProximaNovaExCn";
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3px;
}

.steps_screen .form .after_caption {
    font-size: 16px;
    font-weight: 400;
    color: rgb(107, 107, 107);
    text-align: justify;
    letter-spacing: 0.1px;
    margin: 9px 0 20px;
    line-height: 1.3;
}

.steps_screen .form .wpcf7-form-control-wrap {
    display: block;
    margin: 13px 0;
}

.steps_screen .form .wpcf7-form-control {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 2px;
    height: 56px;
    width: 100%;
    font-size: 20px;
    font-family: "ProximaNovaExCn";
    font-weight: 400;
    color: rgb(131, 131, 131);
    text-transform: uppercase;
    outline: none;
    padding: 10px 20px;
}

.steps_screen .form .button {
    width: 100%;
    border: 1px solid rgb(196, 214, 0);
    box-shadow: 0 5px #c4d600;
    padding: 17px 5px;
    font-size: 24px;
    font-family: "ProximaNovaExCn";
}

.steps_screen .form input:not([type=submit]):focus {
	border: 1px solid #000082;
}

.steps_screen .background {   
    background: url(../images/pattern.png) #ffc000;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 178px;
    width: 500%;
}

/*advantages_screen*/

.advantages_screen {
    background-image: url(../images/spb_bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 57px 0 45px;
}

.advantages_screen .wrapper {
    max-width: 900px;
}

.advantages_screen h3 {
    text-align: center;
    margin: 0 auto 25px;
}

.advantages_screen h3 span {
    font-size: 40px;
}

.advantages_screen p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(65, 65, 65);
    text-align: justify;
    letter-spacing: 0.1px;
}

.advantages_screen a {
    color: rgb(32, 129, 218);
}

.advantages_screen .advantages {
    margin: 30px -25px 0;
}

.advantages_screen .advantages .advantage {
    box-sizing: border-box;
    width: 33.333%;
    padding: 25px;
}

.advantages_screen .advantages .advantage_wrapper {
    box-sizing: border-box;
    border: 2px dashed rgb(32, 129, 218);
    background-color: rgb(255, 255, 255);
    padding: 25px 10px;
}

.advantages_screen .advantages .advantage .icon {
    background-image: url(../images/sprites.svg);
    background-position: -456px -503px;
    width: 125px;
    height: 124px;
    margin: 0 auto 23px;
}

.advantages_screen .advantages .quality .icon {
    background-position: -236px -503px;
}

.advantages_screen .advantages .diploma .icon {
    background-position: -8px -503px;
}

.advantages_screen .advantages .remote .icon {
    background-position: -236px -675px;
}

.advantages_screen .advantages .standart .icon {
    background-position: -8px -675px;
}

.advantages_screen .advantages .reviews .icon {
    background-position: -456px -675px;
}

.advantages_screen .advantages .advantage .text {
    font-size: 24px;
    font-family: "ProximaNovaExCn";
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.3px;
}

/*discount_screen*/

.discount_screen {   
    background: url(../images/pattern.png) #ffc000;
    background-position: center center;
    padding: 73px 0;
}

.discount_screen .wrapper {
    position: relative;
}

.discount_screen .banner {
    box-sizing: border-box;
    border: 6px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.549);
    padding: 93px 15px 71px;
    font-size: 40px;
    font-family: "ProximaNovaExCn";
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.discount_screen .banner .inner {
    position: relative;
    z-index: 1;
}

.discount_screen .banner h4 {
    font-weight: 700;
    margin: 5px 0;
}

.blue.button {
    background-color: #57aefe;
    box-shadow: 0 4px #2081da;
    border: 1px solid rgb(32, 129, 218);
    width: 290px;
    margin-top: 44px;
    font-size: 24px;
    font-family: "ProximaNovaExCn";
    color: rgb(255, 255, 255);
}

.discount_screen .girl {
    background-image: url(../images/girl.png);
    width: 515px;
    height: 447px;
    position: absolute;
    bottom: -74px;
    left: -68px;
}


/*media*/

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    }
    
    .navbar, .call.button, .login.button {
        display: none;
    }
    
    header .second_line .burger_wrapper {
        display: block;
    }
    
    header .second_line .menu {
        position: absolute;
        top: 66px;
        left: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        background: #ffc000;
    }
    
    header .second_line .menu .for_mobile {
        display: block;
    }
    
    header .second_line .menu li {
        float: none;
    }
    
    header .second_line .menu li a {
        display: block;
        padding: 22px 0;
        border-bottom: 1px solid #e0a900;
        color: #fff;
    }
    
    header .second_line .menu li:hover .submenu {
        display: none;
    }
    
    header .second_line .menu li .submenu {
        position: static;
    }
    
    header .second_line .submenu li a {
        width: 100%;
        color: #e0a900;
    }
    
    .main_screen .main_info {
        padding: 68px 0 82px;
    }
    
    .main_screen h1 {
        font-size: 34px;
    }
    
    .courses .sidebar {
        width: 100%;
        box-shadow: none;
        padding: 0;
        margin: 15px 0;
    }
    
    .courses .courses_menu {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }
    
    .courses .courses_menu li {
        box-sizing: border-box;
        width: 33.333%;
        padding: 0 5px;
        margin: 5px 0;
    }
    
    .courses .courses_menu a {
        border: 1px solid rgb(196, 196, 196);
        font-size: 15px;
        padding: 19px 10px 17px 70px;
    }
    
    .courses .courses_menu a::before {
        left: 20px;
    }
    
    .courses .sidebar .button {
        display: none;
    }
    
    .courses .mobile.button {
        display: block;
    }
    
    .courses .details {
        width: 100%;
        padding: 15px 0 40px;
    }  
    
    .courses .details .radio_button {
        padding: 10px 0px 10px 61px;
    }
    
    .steps_screen {
        padding: 45px 0 15px;
    }
    
    .steps_screen h3 {
        display: block;
        text-align: center;
    }

    .steps_screen .left_part h3 {
        display: none;
    }
    
    .steps_screen .left_part {
        padding: 0;
        max-width: 550px;
    }
    
    .steps_screen .right_part {
        padding: 32px 0;
        margin-left: 35px;
    }
    
    .steps_screen .steps .step {
        width: 50%;
        max-width: 325px;
    }
    
    .steps_screen .steps .arrow {
        background-position: -1006px -269px;
    }
    
    .steps_screen .background {
        display: none;
    }
    
    .advantages_screen {
        padding: 47px 0 33px;
    }
    
    .discount_screen .girl {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .courses .courses_menu li {
        width: 50%;
    }
    
    .advantages_screen .advantages .advantage {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .between {
        justify-content: center;
    }
    
    header .first_line .institut_name {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
    
    .main_screen .main_info {
        padding: 68px 0 50px;
    }
    
    .main_screen h1 {
        font-size: 30px;
    }
    
    .main_screen h2 {
        font-size: 22px;
        margin: 25px 0 32px;
    }
    
    .main_screen .buttons {
        margin: 0 auto;
    }
    
    .main_screen .buttons .green.button, .main_screen .buttons
    .orange.button {
        display: block;
        width: 100%;
        max-width: 330px;
        margin: 0 auto 30px;
    }
    
    .courses .courses_menu li {
        width: 100%;
    }
    
    .courses .details {
        padding: 5px 0 30px;
    }
    
    .courses .details h3 {
        font-size: 22px;
        margin: 0;
    }
    
    .courses .details .radio_buttons {
        padding: 5px;
        margin: 12px 0 9px;
    }
    
    .courses .details .radio_button {
        display: block;
        text-align: left;
        padding: 10px 13px 10px 33px;
    }
    
    .courses .details .radio_button .radio_label {
        font-size: 14px;
    }
    
    .courses .details .line {
        font-size: 14px;
        padding: 17px 0 15px;
    }
    
    .courses .details .line .name {
        width: 100%;
        flex: auto;
        margin-bottom: 10px;
    }

    .courses .details .line a {
        flex: 1;
    }
    
    .courses .details .line .discount {
        top: 0px;
        right: -2px;
    }
    
    .courses .details .line .old_price {
        bottom: -14px;
        right: 40px;
    }
    
    .steps_screen .steps_wrapper {
        flex-wrap: wrap;
    }
    
    .steps_screen .left_part {
        margin: 0 auto;
    }
    
    .steps_screen .right_part {
        padding: 5px 0 44px;
        margin: 0 auto;
    }
    
    .steps_screen .form {
        padding: 40px 20px;
    }
    
    h3 {
        font-size: 23px;
        letter-spacing: 0.3px;
        line-height: 1.6;
    }
    
    h3 span {
        font-size: 34px;
    }
    
    .steps_screen .steps {
        margin: 35px auto 0;
    }
    
    .steps_screen .steps .step {
        width: 100%;
        margin: 0 auto;
    }
    
    .steps_screen .steps .step.arrow {
        display: none;
    }
    
    .advantages_screen h3 span {
        font-size: 34px;
    }
    
    .advantages_screen p {
        font-size: 15px;
        line-height: 1.6;
    }
    
    .advantages_screen .advantages {
        margin: 22px auto 7px;
        padding: 0 32px;
    }
    
    .advantages_screen .advantages .advantage {
        width: 100%;
        padding: 20px 0;
    }
    
    .discount_screen {
        padding: 60px 0;
    }
    
    .discount_screen .banner {
        padding: 65px 10px 84px;
    }

    .discount_screen .banner h4 {
        font-size: 30px;
    }
    
    .discount_screen .banner .details {
        font-size: 26px;
        text-transform: none;
    }
}

@media screen and (max-width: 500px) {

}
